.nav-container {
  margin: auto;
  width: 100%;
  background-color: rgb(128, 128, 225);
}

.nav-bar {
  margin: auto;
  width: 80%;
  height: 20px;
  background-color: rgb(128, 128, 225);
}

.nav-list {
  width: 80%;
  margin: auto;
  padding: 0;
  background-color: rgb(100, 100, 192);
  display: flex;
  justify-content: flex-end;
  list-style: none;
  border-radius: 20px;
}

.nav-list li {
  padding: 14px 10px;
}

.nav-list li:hover {
  background-color: bisque;
}

.nav-list a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-family: "Shantell Sans", cursive;
  color: aliceblue;
}
