:root {
  --text-color: #4c5656;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.section-heading {
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  text-align: center;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
