:root {
  --text-color: #4c5656;
}

body {
  margin: 0;
  padding: 0;
}

.footer-section {
  padding-top: 100px;
  background-image: url(./assets/blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: white;
  font-family: "Patrick Hand", cursive;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo h4 {
  font-size: 1.5rem;
}

.footer-list,
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-list-item {
  display: flex;
  gap: 7px;
  align-items: center;
}
