:root {
  --skolka-bg-orange: #ff9861;
  --skolka-bg-yellow: #ffd861;
  --skolka-bg-yellow-light: #ffeeba;
  --skolka-bg-green: #9be9bb;
  --skolka-bg-green-light: #e2fced;
  --skolka-bg-purple: #ceb2fc;
  --skolka-bg-purple-light: #dcc8ff;
  --skolka-bg-blue: #a7c5f9;
  --skolka-bg-blue-light: #bdd8fa;
}
